button {
  border-radius: 5px;
  color: white;
  background-color: gray;
  font-size: 15px;
  font-weight: bold;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: khaki;
}
#head {
  width: 700px;
  height: 200px;
  border: solid;
  border-radius: 10px;
  background-color: #faebd6;
  position: relative;
}
table {
  border: solid;
  border-radius: 10px;
  width: 700px;
  border-collapse: collapse;
}
td {
  padding: 30px;
  border: solid;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
}

#td2 {
  background-color: #808080;
}
#td1,
#td3 {
  background-color: #faebd6;
}
#image {
  margin-top: 14px;
  margin-left: 20px;
}
button {
  position: relative;
  right: -100px;
  margin: 10px;
}
#vl {
  position: relative;
  top: -32px;
  right: 10px;
}
#dur {
  position: relative;
  top: -160px;
  left: 300px;
  width: 300px;
}
#time {
  position: absolute;
  top: -180px;
  font-weight: bold;
}
#vol {
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: -72px;
  right: -115px;
}
#timenow {
  position: absolute;
  top: 15px;
  right: 180px;
  font-family: cursive;
  font-size: 15px;
}
#v {
  position: absolute;
  top: 115px;
  right: 50px;
  font-size: 13px;
  font-family: cursive;
}
